/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------- Actual code comes below ---------- */

body {
	background-color: lightgray;
}

.wrapper {
	width: 100%;
	background-color: #feecec;
	padding: 16px 0;
	font-size: 0;
}

.pink {
	min-width: 300px; 
	padding: 5px;
	margin: 16px;
	font-family: arial; 
	font-size: 16px;
	color: #111;
	border-radius: 5px;
	border: 1px solid #cf894c;
	background-color: #fdeddc;
}

.blue {
	min-width: 300px; 
 	padding: 5px;
	margin: 16px;
	font-family: arial; 
	font-size: 16px;
	color: #111;
	border-radius: 5px;
	border: 1px solid #3f79b7;
 	background-color: #e8f6ff;
}

.up{
  margin: 0 16px 16px 16px;
}

.down{
  margin: 16px 16px 0 16px;
}

@media only screen and (min-width: 600px) {

	.wrapper {
		width: 100%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 900px) {

	.wrapper {
		width: 100%;
		margin: 0 auto;
		padding: 8px 0;
	}

	.pink {
	    display: inline-block;    
	    position: relative; 
		margin: 8px 8px 8px 16px;
		width: -webkit-calc(50% - 36px);
	    width: calc(50% - 36px);
		max-width: 564px;
	}

	.blue {
	    display: inline-block;    
	    position: relative;
		margin: 8px 16px 8px 8px;
	    width: -webkit-calc(50% - 36px);
		max-width: 564px;
	}

	div #seven {
		width: 100%;
		margin: 8px 16px 8px 16px;
		max-width: calc( 100% - 44px);
	}
}

@media only screen and (min-width: 1200px) {

	.pink {
		margin: 8px 8px 8px 8px;
		width: -webkit-calc(33.33333% - 33.33px);
	    width: calc(33.33333% - 33.33px);
		max-width: 478px;
	}

	.blue {
		margin: 8px 8px 8px 8px;
	    width: -webkit-calc(33.33333% - 33.33px);
		max-width: 478px;
	}

	div #seven {
		width: 100%;
		margin: 8px 16px 8px 16px;
		max-width: calc( 100% - 44px);
	}

	div #one, #four {
		margin: 8px 8px 8px 16px;
	}
}

@media only screen and (min-width: 1500px) {
	
	.wrapper {
		width: 1500px;
	}

	div #one, #two, #three, #four {
		margin: 8px 8px 8px 8px;
		width: 343px;
	}

	div #seven, #six, #five {
		margin: 8px 8px 8px 8px;
		width: 466.66px;
	}

	div #one, #five {
		margin: 8px 8px 8px 16px;
	}

}